body {
  padding-left: 300px;
  padding-right: 300px;
}

button {
  height: 30px;
  width: 120px;
}

input {
  height: 25px;
}

select {
  height: 29px;
}

.main {
  border: solid 2px;
}

.header {
  align-items: center;
  text-align: center;
  padding: 10px 20px;
}

.displayBox {
  text-align: center;
  padding-bottom: 20px;
}

.displayBox > textarea {
  width: 96%;
}

.inputRow {
  margin-left: auto;
  margin-right: auto;
}

.inputRow > input {
  width: 80%;
}

.connectSection {
  text-align: left;
  padding: 10px 15px;
}

/* #btnDisconnect {
  margin-right: 40%;
} */

.mosfetSection {
  text-align: left;
  padding: 10px 15px;
}

.maxVelSection {
  text-align: left;
  padding: 10px 15px;
}

.maxAccelSection {
  text-align: left;
  padding: 10px 15px;
}

.moveSection {
  text-align: left;
  padding: 10px 15px;
}

.modeSection {
  text-align: left;
  padding: 10px 15px;
}

.deviceSection {
  text-align: left;
  padding: 10px 15px;
}

.flashSection {
  text-align: left;
  padding: 10px 15px;
}
